<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(~{::title}, ~{::main})}">
<head>
    <title>Liste des Évènements</title>
</head>
<body>
    <main class="container mt-5">
        <div class="row justify-content-center">
            <!-- Événements à venir -->
            <div class="upcoming-events col-md-6">
                <h2>Événements à venir</h2>
                <div th:each="event : ${upcomingEvents}">
                    <div class="event">
                        <h3 th:text="${event.title}"></h3>
                        <p th:text="${event.location}"></p>
                        <p th:text="${event.startTime}"></p>
                        <p th:text="${event.endTime}"></p>
                    </div>
                </div>
            </div>
            
            <!-- Événements passés -->
            <div class="past-events col-md-6">
                <h2>Événements passés</h2>
                <div th:each="event : ${pastEvents}">
                    <div class="event">
                        <h3 th:text="${event.title}"></h3>
                        <p th:text="${event.location}"></p>
                        <p th:text="${event.startTime}"></p>
						<p th:text="${event.endTime}"></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
