<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(~{::title}, ~{::main})}">
<head>
    <title>Liste des Évènements</title>
</head>
<body>
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="upcoming-events col-md-6">
                <h2>Événements</h2>
				    <ul>
				        <li th:each="event : ${events}">
				            <a th:href="@{/events/details/{id}(id=${event.id})}" th:text="${event.title}">Titre de l'évènement</a>
				        </li>
				    </ul>
            </div>
        </div>
    </main>
</body>
</html>
